* {
    margin: 0;
    padding: 0;
}

#second-div {
    display: none;
    margin: 0 auto;
    padding: 5px;
    justify-content: space-evenly;
}

#right-side {
    min-width: 65%;
    padding: 1em;
    min-height: 100vh;
}

#left-side {
    min-width: 50px;
    max-width: 25%;
    padding: 2em;
    min-height: 50vh;
    margin: 20px;
}

[create-employees-form] {
    visibility: hidden;
}

#home-page-button, #pay-all-employees {
    float: right;
}

#log-out {
    margin-top: 50px;
}
#success-message {
    display: none;
}

.nav-btn {
    margin: 10px;
    padding: 5px;
}

.panel-box {
    margin: 50px;
    /* width: 500px; */
    border-radius: 15px;
    border: 1px solid #fff;
    box-shadow: 0 3px 8px #11292c, 0 3px 5px #cfcd7f66
}

#right-side {
    display: none;
}

li {
    text-decoration: none;
    list-style: none;
    /* margin: 20px; */
    border-bottom: 1px powderblue solid;
    /* padding: 20px; */
}

fieldset {
    justify-self: center;
    margin: 0 auto;
}

a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

