* {
    margin: 0;
    padding: 0;
}

#home-page-button, #pay-all-employees {
    float: right;
}

.nav-btn {
    margin: 10px;
    padding: 5px;
}



[all-employees-display] {
    display: block;
    border: 1px #fff solid;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 3px 8px #eee, 0 3px 5px #333
}